@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

body {
    position: relative;
    overflow-x: hidden;
}

html {
    overflow-x: hidden;
}

.logoName {
    color: darkgoldenrod;
    font-family: 'Dancing Script', cursive;
}

.borderDGR {
    border: 2px darkgoldenrod solid;
}

.linkDGR {
    color: grey;
}

.linkDGR:hover {
    color: darkgoldenrod;
    transition: all 300ms ease-in-out;
}

.nav-link {
    color: white;
    position: relative;
    transition: all 300ms ease-in-out;
}

.nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 300ms ease-in-out;
    background-color: darkgoldenrod;
}

.nav-link:hover {
    color: darkgoldenrod;
}

.nav-link:hover::before {
    width: 90%;
}

.nav .active {
    color: darkgoldenrod;
}

.nav .active::before {
    width: 90%;
}

#searchParent {
    position: relative;
}

#searchRes {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 2px darkgoldenrod solid;
    z-index: 1;
}

.resLink:hover .resTxt {
    color: darkgoldenrod;
}

.resTxt {
    transition: all 300ms ease-in-out;
    color: white;
}

#searchBox {
    color: darkgoldenrod;
}

#searchBox::placeholder {
    color: white;
}

.animeCard {
    transition: all 300ms ease-in-out;
}

.animeImage {
    height: 300px !important;
}

@media only screen and (max-width: 992px) {
    .animeImage {
        height: 250px !important;
    }
}

@media only screen and (max-width: 576px) {
    .animeImage {
        height: 200px !important;
    }

    .animeTitle {
        font-size: 12px;
    }
}

.animeImage2 {
    height: 300px !important;
}

@media only screen and (max-width: 992px) {
    .animeImage2 {
        height: 250px !important;
    }
}

@media only screen and (max-width: 576px) {
    .animeImage2 {
        height: 150px !important;
    }
}

.animeCard:hover {
    transform: scale(1.1, 1.1) !important;
}

.animeCard:hover .animeTitle {
    transition: all 300ms ease-in-out;
    color: darkgoldenrod !important;
}


#footerdiv {
    background-color: darkgoldenrod;
}

#backToTop {
    bottom: 0;
    right: -20%;
    opacity: 0;
    position: fixed;
}

.linkDGR2 {
    color: darkgoldenrod;
}

@media only screen and (max-width: 992px) {
    .linkDGR2 {
        color: black;
    }
}

@media only screen and (max-width: 576px) {
    .linkDGR2 {
        color: black;
    }
}


@keyframes backToTop {
    from {
        right: -20%;
        opacity: 0;
    }

    to {
        right: 20%;
        opacity: 1;
    }
}